import "../app/globals.css"
import {tv,type VariantProps} from "tailwind-variants"

const {{ UpperPascalCase }}Class = tv({
    base: "",
    /*
        variants: { } ,
        defaultVariants: { },
    */
})

type {{ UpperPascalCase }}Variants = VariantProps<typeof {{ UpperPascalCase }}Class>

interface {{ UpperPascalCase }}Props extends {{ UpperPascalCase }}Variants {
    children?: React.ReactNode
}

export default function {{ UpperPascalCase }}(plop: {{ UpperPascalCase }}Props){
    return (
        <div className={ {{ UpperPascalCase }}Class(plop) }>
            {plop.children}
        </div>
    )
}